@model List<rorisangStudyGroup.Models.StudyGroupModel>

@{
    ViewBag.Title = "StudyGroupView";
}

<h2>Study Group</h2>

<table class="studygroup">
    <thead>
        <tr>
            <th>Student Number</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Link</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var students in Model)
        {
            <tr>
                <td>@students.StudentNr</td>
                <td>@students.FirstName</td>
                <td>@students.LastName</td>
                <td>@students.Email</td>
                <td>
                    <a href="@Url.Content(students.myLink)" class="btn btn-primary">LINK</a>
                </td>
            </tr>
        }
    </tbody>
</table>

