
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @{
            ViewBag.Title = "Gontla";
        }
    </title> 
    <link href="~/Content/StudyGroup.css" rel="stylesheet" />
</head>
<body>
    <h1 id="firstHeading">Gontla</h1>
    <hr id="hr_header">
    <div class="container text-center" style="background-color: lightgreen">
        <div class="row row-cols-auto" style="background-color:lightgray">
            <div class="col" onclick="window.location.href='@Url.Action("Index", "StudyGroup")'">Main</div>
            <div class="col" onclick="window.location.href='@Url.Action("Index", "StudyGroup")'">List</div>
            <div class="col" onclick="window.location.href='@Url.Action("AdiPage", "StudyGroup")'">Adi</div>
            <div class="col" onclick="window.location.href='@Url.Action("AsandaPage", "StudyGroup")'">Asanda</div>
            <div class="col" onclick="window.location.href='@Url.Action("GontlaPage", "StudyGroup")'">Gontla</div>
            <div class="col" onclick="window.location.href='@Url.Action("RorisangPage", "StudyGroup")'">Rorisang</div>
            <div class="col" onclick="window.location.href='@Url.Action("TumisangPage", "StudyGroup")'">Tumisang</div>
            <div class="col"><a href="javascript:history.back()">Back</a></div>
        </div>

    </div>
    <section id="background">
        <h2>Biography and Background</h2>
        <img src="~/Views/HTML/student_images/gontla.jpeg" class="left-image">
        <p>Gontla is a 21 year old student from Rustenburg, she studies Human Physiology. She chose this career because she has a passion for physical wellness.</p>
    </section>
    <section id="hobbies">
        <h2>Hobbies</h2>
        <p>
            Gontla enjoys playing soccer with his friends. He enjoys coding as well as reading in his spare time.
        </p>
        <img src="~/Views/HTML/hobby_images/asanda-hobby.jpeg" alt="Hobby 01" class="right-image">
    </section>

    <section id="modules">
        <h2>Modules</h2>
        <h3>Semester 1</h3>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <ul> Semester 1</ul>
                    <ul>INF 214</ul>
                    <ul>FIL 251</ul>
                    <ul>INF 271</ul>
                </div>
                <div class="col">
                    <ul>Semester 2</ul>
                    <ul>INL 260</ul>
                    <ul>INF 225</ul>
                    <ul>INF 271</ul>
                </div>
            </div>

        </div>
    </section>
</body>
</html>
